<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>983185559911-r1r1poqju895l9sm8ritr4j160in2fgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983185559911-r1r1poqju895l9sm8ritr4j160in2fgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDA3kHuqyLWj9n7elDCfX9EnPtMzS2iZpE</string>
	<key>GCM_SENDER_ID</key>
	<string>983185559911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.petrocco.msTracker</string>
	<key>PROJECT_ID</key>
	<string>mstracker-15808</string>
	<key>STORAGE_BUCKET</key>
	<string>mstracker-15808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983185559911:ios:ab41b7db60064d9c</string>
	<key>DATABASE_URL</key>
	<string>https://mstracker-15808.firebaseio.com</string>
</dict>
</plist>